<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:title" content="Life"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <title></title>
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
</body>
</html>
